/* Global Styling */
body{
  font-family: Helvetica;
  color: white;
  font-size: 18px;
  background-color: black;
}

/* Header Styling */
/* By Tag Styling */

/* By Class Styling */

/* By ID Styling */

/* Body Styling */
/* By Tag Styling */

/* By Class Styling */

/* By ID Styling */

/* Footer Styling */
/* By Tag Styling */

/* By Class Styling */

/* By ID Styling */
